<app-menu></app-menu>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                    [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"
                    [(ngModel)]="apellido" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Email</label>
                    <input type="telefono" class="form-control" id="telefono" name="telefono"
                    [(ngModel)]="telefono" required>
                </div>

                <div class="form-group">
                    <label for="telefono">direccion</label>
                    <input type="direccion" class="form-control" id="direccion" name="direccion"
                    [(ngModel)]="direccion" required>
                </div>
                <div class="form-group">
                    <label for="nombreUsuario">Nombre de usuario</label>
                    <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario"
                    [(ngModel)]="nombreUsuario" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                    [(ngModel)]="password" required>
                </div>

                <div class="form-group">

                    <label for="estado">Estado</label>
                    <select  [(ngModel)]="estado"  name="estado" id="estado" class="form-control" id="exampleFormControlSelect">
                      <option value="A">A</option>
                      <option value="I">I</option>
                    </select>
                  </div>
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-plus-circle"></i> Crear</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/listar-usuarios">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>