<footer  role="contentinfo">  
    <div class="footer-middle">  
    <div class="container">  
      <div class="row">  
        <div class="col-md-3 col-sm-6">  
          <div class="footer-pad">  
            <h4> Acerca de Nosotros</h4>  
            <ul class="list-unstyled">  
              <li> <a > </a> </li>  
              <li> <a >Centro de pago</a></li>  
              <li> <a >Directorio de contactos</a></li>  
              <li> <a >Formularios</a></li>  
              <li> <a >Noticias y Actualizaciones</a></li>  
              <li> <a >Preguntas frecuentes</a></li>  
            </ul>  
          </div>  
        </div>  
        <div class="col-md-3 col-sm-6">  
          <div class="footer-pad">  
            <h4>Contactanos</h4>  
            <ul class="list-unstyled">  
              <li><a > Blog </a> </li>  
              <li><a >Accesibilidad</a> </li>  
               <li><a >Política de privacidad</a></li>  
               <li><a >Administrador de página web</a></li>  
            </ul>  
          </div>  
        </div>  
        <div class="col-md-3 col-sm-6">  
          <div class="footer-pad">  
            <h4> Trabaja con nosotros</h4>  
            <ul class="list-unstyled">  
               <li> <a > Administrador de página web</a> </li>  
              <li> <a >Seguimiento de correos electrónicos</a> </li>  
              </ul>  
          </div>  
        </div>  
          <div class="col-md-3">  
              <h4>Siguenos en nuestras redes </h4>  
              <ul class="social-network social-circle">  
               <li> <a  class="icoFacebook" title="Facebook"> <i class="fa fa-facebook"> </i> </a> </li>  
               <li> <a  class="icoLinkedin" title="Linkedin"> <i class="fa fa-linkedin"> </i> </a> </li>  
      <li> <a > <i class="fa fa-youtube" aria-hidden="true"> </i> </a> </li>  
              </ul>               
      </div>  
      </div>  
       <div class="col-md-12 copy">  
      <p class="text-center"> © Copyright 2023 - Olimac Services - Todos los derechos reservados </p>  
      </div>  
    </div>  
    </div>  
  </footer>