<app-menu></app-menu>
<div class="container" *ngIf="rol">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
           
           
           
                <div class="form-group">

                    <label for="RolNombre">Rol</label>
                    <select  [(ngModel)]="rol.rolNombre"  name="RolNombre" id="RolNombre" class="form-control" id="exampleFormControlSelect">
                      <option value="ADMINISTRADOR">ADMINISTRADOR</option>
                      <option value="CONSULTOR">CONSULTOR</option>
                      <option value="EDITOR">EDITOR</option>

                    </select>
                  </div>
               
                <div class="form-group">
                    <label for="apellido">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"
                    [(ngModel)]="rol.descripcion" required>
                </div>
                 

             
                <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                    <i class="fas fa-pencil-alt"></i> Actualizar</button>
                <button class="btn btn-outline-primary btn-block" routerLink="/listar">
                    <i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>