<app-menu></app-menu>

<section class="vh-100" style="background-color: #272929;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block d-flex align-items-center justify-content-center">
              <img src="https://pbs.twimg.com/profile_images/1669032594439036928/KPxeEa-W_400x400.png"
                alt="login form" class="img-fluid"   />
            </div>
            
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Registrate aquí!</span>
                  </div>

                  <div class="form-outline mb-4">
                    <div class="row">
                      <div class="col-md-6">
                        <input required  placeholder="Nombres"
                          class="form-control form-control-lg" id="nombre" name="nombre" type="text" [(ngModel)]="nombre" required/>
                          
                      </div>
                      <div class="col-md-6">
                        <input type="text" id="apellido" placeholder="Apellidos" 
                          name="apellido" class="form-control form-control-lg" [(ngModel)]="apellido" required />
                      </div>
                    </div>
                  </div>


                  <div class="form-outline mb-4">

                    <div class="row">

                      <div class="col-md-6">
                        <input type="email" id="usuario" placeholder="Usuario"  name="usuario"
                        class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required />
                      </div>

                      <div class="col-md-6">
                      <input type="email" id="telefono" name="telefono"  placeholder="telefono" 
                      class="form-control form-control-lg"  [(ngModel)]="telefono" required />

                    </div>


                   

                  
         

                  </div>
                  

                  </div>


                  <div class="form-outline mb-4">
                    <input type="email" id="direccion" name="direccion"  placeholder="direccion" 
                    class="form-control form-control-lg"  [(ngModel)]="direccion" required />

                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="password" placeholder="Contraseña" 
                      name="password" class="form-control form-control-lg" [(ngModel)]="password" required />
                  </div>

               

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" [disabled]="!f.valid">
                        Registrar</button>
                </div>

                
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a routerLink="/login"
                      href="#!" style="color: #393f81;">Login here</a></p>

                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

