<nav *ngIf="isLogged" class="navbar navbar-expand-lg navbar-expand-xl navbar-dark bg-dark mb-4">
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" *ngIf="isLogged" routerLink="/"><i class="fas fa-home"></i> Inicio</a>
      </li>

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/listar"><i class="far fa-list-alt"></i> Roles</a>
      </li>

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/listar-usuarios"><i class="far fa-list-alt"></i> Usuarios</a>
      </li>
    
 
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <!-- <h1 *ngIf="nombreUsuario" class="display-4">{{nombreUsuario}}</h1>
      <button *ngIf="!isLogged" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="submit">
        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
      <button *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogOut()" type="reset">
        <i class="fas fa-sign-in-alt"></i>
        <i class="fas fa-door-open"></i> Cerrar Sesión</button> -->
        <!-- Example single danger button -->
 
<div class="dropdown">
  <button *ngIf="nombreUsuario"   class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    {{nombreUsuario}}
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item active" routerLink="/listar-usuarios">Lista</a></li>
     <li><hr class="dropdown-divider"></li>
    <li><a *ngIf="isLogged" class="btn btn-outline-danger my-2 my-sm-0" (click)="onLogOut()" type="reset"  class="dropdown-item"  >Salir</a></li>
  </ul>
</div>
    </form>
    
  </div>
</nav>